body {
  background-color: rgb(219, 247, 242);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 20px;
}

#Calculator {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.992);
  border-radius: 10px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: auto;
  font-size: 4rem;
  text-align: right;
  border: none;
  background-color: rgb(173, 173, 173);
  overflow-x: auto;
  white-space: nowrap;
}

button {
  width: 100px;
  height: 100px;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  border: none;
}
button:hover {
  background-color: white;
}
button:active {
  background-color: beige;
}
.operator-button {
  background-color: orange;
}
.operator-button:hover {
  background-color: rgb(255, 193, 79);
}

.operator-button:active {
  background-color: rgb(245, 201, 120);
}
